# PRINT FUNCTION

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
print("USAID",48,True,54.6)

MAVIYA 48 True 54.6

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [6]:
print("NASIR HUSSAIN",4567,True,98.9, sep = "-")

NASIR HUSSAIN-4567-True-98.9

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("MAVIYA", end=' ')
print(46, end=' ')
print(False, end=' ')
print(93.5)

MAVIYA 46 False 93.5

4) Can a python print function take no value to print???

In [12]:
print("")

# # TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [108]:
name = "Mr.Ahmad"
age = 30
profession = "Lawyer"
degree = "bachelors in law"
graduation_year = 2005
Organization = "The Himalya Associates"
Joining_year = 2015
height = 5.10
weight = 70600
Income = 20000

In [22]:
name

'Mr.Ahmad'

In [24]:
age

30

In [26]:
profession

'Lawyer'

In [28]:
degree

'bachelors in law'

In [41]:
graduation_year

2005

In [30]:
Organization

'The Himalya Associates'

In [58]:
Joining_year

2015

In [32]:
height

5.1

In [34]:
weight

'70600g'

In [36]:
Income

20000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [62]:
Current_year = 2024

In [64]:
Current_year - graduation_year

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [71]:
Current_year - Joining_year

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [92]:
dollar = 277
monthly_income_dollars =Income / dollar

In [94]:
monthly_income_dollars

72.20216606498195

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [97]:
type(monthly_income_dollars)
monthly_income_dollars = Income // dollar
print(monthly_income_dollars)

72

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [116]:
float(weight)
weight_g = weight // 1000
print(weight_g,"kg")

70 kg

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [123]:
100%6

4